.work-section {
    height: 100vh;
    background-color: var(--diffrentShade);
    padding: 50px;
    text-align: center;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.one-project-card {
    background-color: var(--card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    text-align: center;
}

.project-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.project-description {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.project-tech{
    opacity: 0.5;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.one-project-button {
    padding: 10px 20px;
    background: none;
    outline: var(--accentColor) solid 2px;
    color: var(--textColor);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.one-project-button:hover {
    background-color: var(--accentColor);
    color: white;
}
